@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class=" container" style="position:center ">
    <div class="row">
        <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
            <h1 class="mbr-section-title display-1">Bee Services </h1>
            <h1 class="mbr-section-title display-4" style="color:coral">Easy way to find nearset services</h1>
            @Html.ActionLink("Start", "Mainview", "Home")
        </div>

    </div>
</div>
